@import "tailwindcss";

@source "./pages/**/*.{js,ts,jsx,tsx,mdx}";
@source "./components/**/*.{js,ts,jsx,tsx,mdx}";
@source "./app/**/*.{js,ts,jsx,tsx,mdx}";
@source "./sanity/**/*.{js,ts,jsx,tsx,mdx}";

@variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 475px;

  --color-primary-100: #ffe8f0;
  --color-primary: #ee2b69;
  --color-secondary: #fbe843;

  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black-default: #000000;

  --color-white-100: #f7f7f7;
  --color-white-default: #ffffff;

  --font-family-work-sans: var(--font-work-sans);

  --radius: 0.5rem;
  --border-radius-lg: var(--radius);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);

  --box-shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --box-shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --box-shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}
